<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script language="JavaScript" th:src="@{/js/sockjs.min.js}" src="../../static/js/sockjs.min.js"></script>
    <script language="JavaScript" th:src="@{/js/stomp.min.js}" src="../../static/js/stomp.min.js"></script>
</head>
<body>
<p>stomp test</p>
<br>
<div>
    <span>chat room id: </span>
    <input id="chatRoomId">
</div>
<div>
    <span>user id: </span>
    <input id="userId">
</div>
<br>
<div>
    <span>content: </span>
    <input id="content">
</div>
<br><br>
<button id="connect">연결</button>
<button id="btn">전송</button>
</body>
<script>
    const socket = new SockJS('http://localhost:11730/sub');
    const stompClient = Stomp.over(socket);

    const chatRoomId = document.getElementById("chatRoomId");
    const userId = document.getElementById("userId");
    const content = document.getElementById("content");

    let connectBtn = document.getElementById("connect");
    connectBtn.addEventListener("click", e => {
        connectStomp();
    });

    let btn = document.getElementById("btn");
    btn.addEventListener("click", e => {
        send();
    });

    function connectStomp() {
        stompClient.connect({}, frame => {
            console.log('Connected: ' + frame);
            stompClient.subscribe(`/topic/${chatRoomId.value}`, msg => {
                console.log(msg);
            });
        });
    }

    function send() {
        stompClient.send(
            `/pub/${chatRoomId.value}`,
            {},
            JSON.stringify({
                chatRoomId: chatRoomId.value,
                createUserId: userId.value,
                content: content.value
            })
        );
    }
</script>
</html>