<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script language="JavaScript" th:src="@{/js/sockjs.min.js}" src="../../static/js/sockjs.min.js"></script>
    <script language="JavaScript" th:src="@{/js/stomp.min.js}" src="../../static/js/stomp.min.js"></script>
</head>
<body>
<p>stomp</p>
<button id="btn">전송</button>
</body>
<script>
    const socket = new SockJS('http://localhost:11730/sub');
    const stompClient = Stomp.over(socket);

    stompClient.connect({}, frame => {
        console.log('Connected: ' + frame);
        stompClient.subscribe('/topic/1', (msg) => {
            console.log(msg);
        });
    });

    let btn = document.getElementById("btn");
    btn.addEventListener("click", e => {
        stompClient.send(
            "/pub/1",
            {},
            JSON.stringify({
                chatRoomId: 1,
                createUserId: 1,
                content: "hello"
            })
        );
    });
</script>
</html>